* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("kepek/kockas_zaszlo.jpg");
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
}

