* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("kepek/hatterzaszlo.jpg");
    width: 80%;
    margin: auto;
    color: white;
}

header {
    color: white;
}
header h1{
    color: red;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

legend {
    border: 1px solid black;
    background-color: rgb(20, 12, 29);
    color: white;
    padding: 10px;
    flex: 0 0 100%;
}

fieldset{
    background-color: rgb(18, 20, 35);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

form div {
    padding: 10px;
}

form {
    padding: 10px;
}

footer {
    text-align: center;
    color: darkgreen;
}

label {
    color: white;
}

button {
    margin: 10px;
}
